body {
    padding-left: 4%;
    padding-right: 4%;
    background-color: teal;
}

article,
dl,
dd,
dt,
ol,
li {
    font-size: 120%;
}

dl,
dd,
dt {
    text-align: center;
}

div {
    padding: 2%;
    color: white;
}

img {
    border-radius: 25%;
    padding: 2%;
    background-color: white;
}

.section-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 10%;
    /* float: left; */
}

.section-title {
    font-size: 250%;
    font-weight: bold;
    margin-left: 20%;
}

hgroup {
    color: white;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    padding: 2%;
    background-color: blue;
}

header h1 {
    text-align: center;
}

header nav {
    font-size: 150%;
    padding: 2%;
    padding-bottom: 3%;
    background-color: cyan;
}

header figure {
    float: left;
}

figcaption {
    padding-top: 2%;
    color: black;
}

footer {
    font-size: 150%;
    text-align: center;
    background-color: turquoise;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.section-title {
    padding: 2%;
}

#aboutMe {
    background-color: cornflowerblue;
}

#MyProject {
    background-color: #8a2be2;
}

#CV {
    background-color: darkblue;
}

#Links {
    background-color: darkslateblue;
}

#links-list {
    float: right;
}