h1 {
    font-size: 400%;
}

hr {
    width: 100%;
}

header h2 {
    font-size: 125%;
    margin-bottom: 2.5%;
}

header nav {
    background-color: white;
    padding-bottom: 2%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    padding-top: 2.5%;
    width: 50%;
    display: inline-block;
    list-style-type: none;
    margin-bottom: -1.1%;
    padding-left: 2%;
    padding-right: 2%;
}

figcaption {
    visibility: hidden;
}

ul {
    margin-left: 45%;
    padding-top: 2%;
    margin-bottom: 5%;
}

img {
    padding: 1.5%;
    background-color: white;
    border-radius: 25%;
    height: 10%;
    width: 10%;
    float: left;
    margin-left: 25%;
    margin-right: 4%;
}

body {
    background-image: linear-gradient( blueviolet, blue, green);
    margin: 5%;
}

p,
article {
    margin-top: 7.5%;
}

header,
footer {
    text-align: center;
    margin: 1%;
}

div {
    background-color: silver;
    padding: 2%;
}

#aboutMe {
    margin-top: 0%;
    padding-top: 7.5%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}

#Links {
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    padding-bottom: 7.5%;
}

#Links img {
    margin-top: 11%;
}

.section-title {
    font-size: 150%;
    margin-top: 4%;
}

figure img {
    padding: 0%;
    height: 14%;
    width: 12%;
}