/* Element formatting */

h1 {
    font-size: 400%;
}

hr {
    width: auto;
}

header,
footer {
    text-align: center;
}

figcaption {
    visibility: hidden;
}

body {
    background-color: beige;
    margin-top: 3%;
    margin-bottom: 3%;
}

div {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 4%;
    margin-right: 4%;
    background-color: white;
    padding: 2%;
}

article {
    text-align: center;
    font-weight: bold;
    font-size: 115%;
    font-family: sans-serif;
}

img {
    border-radius: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure img {
    width: 15%;
    height: 15%;
}

ul {
    margin-left: 45%;
    margin-right: auto;
}

nav a:hover {
    font-size: 160%;
}

nav {
    margin: 3%;
    font-weight: bold;
    font-size: 120%;
}

hgroup {
    border: 2px solid black;
    margin-left: 15%;
    margin-right: 15%;
    padding: 1%;
}

a:link {
    color: blue;
}

a:visited {
    color: white;
}

a:hover {
    color: black;
    font-size: 200%;
}

a:active {
    color: darkmagenta;
}

.section-title {
    text-align: center;
    font-size: 200%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.section-image {
    padding: 2%;
    background-color: white;
    height: 12%;
    width: 12%;
}


/* ID Formatting */

#aboutMe {
    background-image: linear-gradient(red, darkmagenta, blueviolet);
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}

#MyProject {
    background-image: linear-gradient( blueviolet, blue);
}

#CV {
    background-image: linear-gradient( blue, cyan);
}

#Links {
    background-image: linear-gradient(cyan, green);
    padding-bottom: 5%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    text-align: center;
}

#Links,
#CV {
    font-size: 130%;
}

#topNav {
    background-image: linear-gradient(orange, red);
    width: 50%;
    margin-left: 23%;
    margin-right: auto;
    margin-bottom: -3%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border: 2px solid black;
}

#bottomNav {
    background-image: linear-gradient(darkgreen, darkolivegreen);
    width: 50%;
    margin-left: 23%;
    margin-right: auto;
    margin-top: -3%;
    padding: 3%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border: 2px solid black;
}