/* General */

nav,
#Skills h2,
#Hobbies h2,
#Movies h2 {
    background-color: lightgreen;
    padding: 1%;
}

body {
    font-family: sans-serif;
}

ul {
    list-style-type: none;
}


/* NAV */

#Title {
    font-weight: bolder;
    font-size: 150%;
}

nav li {
    display: inline-block;
    margin-right: 2%;
    font-size: 110%;
}

nav {
    float: left;
    width: 100%;
    display: block;
    margin-bottom: 2%;
}


/* Column Layout */

.middle {
    margin-left: 20em;
    margin-right: 20em;
}

.left {
    position: absolute;
    left: 0em;
    top: 5em;
    width: 15em;
}

.right {
    position: absolute;
    right: 0em;
    top: 5em;
    width: 15em;
}


/* Left Column Edits */

.left div {
    margin-bottom: 7.5%;
    padding: 7.5%;
}

#Links {
    background-color: #ebebeb;
}

#Links li {
    font-size: 125%;
    padding-bottom: 5%;
}

#Research {
    color: #948178;
    background-color: #ebdbd3;
}

#Skills {
    padding: 7.5%;
    background-color: #ebdbd3;
}

#Skills ul {
    background-color: white;
}

#Skills li {
    align-items: center;
    display: flex;
    font-size: 70%;
    margin-bottom: 2em;
}


/* Middle Column Edits */