.container {
    position: relative;
    margin-top: 1em;
}

.left-col {
    position: absolute;
    left: 0em;
    top: 0em;
    width: 15em;
}

aside {
    position: absolute;
    top: 0em;
    right: 0em;
    width: 15em;
}

.main-col {
    margin-left: 20em;
    margin-right: 20em;
}


/* style for top/main navbar */

header {
    background-color: #a1f797;
    padding: 1em;
}

header.title {
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}

header nav li {
    display: inline-block;
    margin-left: 1em;
}

header a {
    text-decoration: none;
    font-size: large;
}

.title strong {
    font-size: 1.25em;
    color: black;
}


/* style for left section research interests */

.research-interests {
    padding: 1em;
    background-color: #ebdbd3;
    color: #948178;
}

.research-interests li {
    list-style: none;
}


/* style for left side section nav */

.side-nav {
    margin-top: 1em;
    padding: 1em;
    background-color: #ebebeb;
    font-size: large;
}

.side-nav li {
    list-style: none;
    text-decoration: none;
    margin-top: 0.5em;
}

.side-nav a {
    text-decoration: none;
}


/* style for left side top 3 skills */

.float-parent {
    background-color: #ebebeb;
    margin-top: 1em;
    overflow: auto;
}

.float-child {
    margin: 1em;
    background-color: white;
}

.float-child h3 {
    background-color: #a1f797;
    padding: 1em;
    margin-bottom: 1em;
}

.float-child li {
    list-style-type: none;
    margin-bottom: 1.5em;
    display: flex;
    align-items: center;
}

.float-child li img {
    float: left;
}


/* main col about my self */

.about-me {
    overflow: auto;
    display: flex;
    align-items: flex-start;
}

.about-me img {
    width: 20em;
    float: right;
}

.about-me div {
    margin-right: 15em;
    float: right;
}

.about-me h3 {
    margin-bottom: 0.25em;
}


/* main col education */

.education {
    max-width: 50%;
}

.education li {
    list-style-type: none;
}

.education h3 {
    margin-bottom: 0.25em;
}