fieldset {
    border: solid 1px green;
    background-color: #e5ffd3;
    margin: 1%;
    padding: 1%;
}

legend {
    color: white;
    background-color: green;
    width: 100%;
    font-size: 150%;
    text-align: center;
    font-weight: bolder;
}

body {
    font-family: sans-serif;
}

.form4 {
    background-color: white;
}

form {
    width: 60%;
    margin-left: 22.5%;
    margin-right: auto;
}

#buttons {
    margin: auto;
    width: 50%;
    padding: 3%;
}

button {
    background-color: green;
    color: white;
    padding: 1%;
}