fieldset {
    border: solid 2px green;
    background-color: #e5ffd3;
    margin: 1%;
    padding: 1%;
}

legend {
    color: white;
    background-color: green;
    width: 97.5%;
    font-size: 150%;
    text-align: center;
    font-weight: bolder;
}

body {
    font-family: sans-serif;
}

.form4 {
    background-color: white;
}

form {
    width: 60%;
    margin-left: 22.5%;
    margin-right: auto;
}

#buttons {
    margin: auto;
    width: 35%;
    padding: 3%;
    margin-left: 35%;
}

button {
    background-color: green;
    color: white;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 5%;
    border-radius: 15%;
    margin: 2%;
}