body {
    font-family: sans-serif;
    text-align: center;
    margin: 2%;
}

table {
    padding: 1%;
}

td {
    vertical-align: middle;
}

table,
td,
tr {
    border: solid 2px lightgray;
}

th,
div {
    border: solid 1px black;
}

div {
    display: inline-block;
}

caption {
    color: white;
    background-color: darkred;
    font-size: 125%;
    font-weight: bolder;
    padding: 2%;
}

thead {
    background-color: lightgrey;
}

.imgbox-left,
.imgbox-right {
    margin-top: 10px;
    margin-bottom: 10px;
}

.imgbox-left {
    margin-left: 10px;
    margin-right: 0px;
}

.imgbox-right {
    margin-left: 0px;
    margin-right: 10px;
}

img {
    border-radius: 15%;
    object-fit: fill;
    margin: 2px;
}