/* Header Styling */

header {
    background-color: var(--bg-main);
    text-align: center;
    color: white;
    padding: 1rem;
}

hgroup h1 {
    font-size: 40px;
    letter-spacing: 5px;
    border-right: 4px solid aquamarine;
    animation: blink .75s infinite;
    width: 13ch;
    margin-left: 29rem;
}

hgroup h2 {
    font-size: 25px;
    letter-spacing: 5px;
    animation: type 3s steps(50) infinite;
    overflow: hidden;
    white-space: nowrap;
    width: 29ch;
    border-right: 4px solid aquamarine;
    margin-left: 25rem;
}


/* Typing Effect */

@keyframes type {
    0% {
        width: 0ch;
    }
    50% {
        width: 29ch;
    }
}


/* The typewriter cursor effect */

@keyframes blink {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: aquamarine;
    }
}


/* About Me Section Styling */

.about-me {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-me img {
    width: 25rem;
    height: auto;
}

.about-me figcaption {
    visibility: hidden;
}


/* Skills Styling */


/* Education Section Styling */

#education {
    color: black;
}

.education-table {
    padding-top: 1rem;
}

#education td {
    padding-left: 5rem;
    padding-bottom: 1rem;
}


/* Skills and Achv. Styling*/

.skillach-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.divider {
    border-left: 6px solid white;
    height: 10rem;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skill-type,
.achievements-list-title {
    font-size: 25px;
    border-bottom: solid 3px white;
    margin-bottom: 1rem;
    align-items: center;
}

.skills-list {
    padding: 2rem;
}

.achievement {
    padding: 1rem;
}

.achievement-description {
    font-size: 12px;
}


/* Contact Styling */

#contact {
    padding-bottom: 2rem;
}

#contact-options {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
}

.contact-item svg {
    width: 4rem;
}

.contact-item svg,
.contact-text {
    color: var(--bg-main);
}

.contact-item {
    align-items: center;
    text-align: center;
    background-color: bisque;
    padding: 1.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 25px;
}


/* Experience Styling */

.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: black;
    height: 17rem;
    width: 17rem;
    color: bisque;
    border-radius: 25px;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 2rem;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.card-img {
    width: 10rem;
    height: 10rem;
    border-radius: 25px;
    object-fit: cover;
}

.card-info {
    font-size: 13px;
}

.card-title {
    font-size: 17px;
    padding-bottom: 1rem;
}


/* Blog Section Styling */


/* Making SVG rotate endlessly */

@keyframes spinningSVG {
    from {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinning-SVG {
    animation: spinningSVG 5s;
    animation-iteration-count: infinite;
    z-index: 1;
}


/* Footer Styling */

footer {
    text-align: center;
    opacity: 0.7;
    padding: 2rem;
}