/* Form Styling */

.section-title h2 {
    margin-bottom: 3rem;
}

form {
    width: 280px;
    position: fixed;
    top: 10rem;
    left: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-main);
    color: bisque;
    padding: 1rem;
    border-radius: 25px;
}

.field {
    padding: 0.5rem;
}

input {
    border-radius: 25px;
    padding: 0.5rem;
}

.additional-info {
    text-align: center;
    padding: 0.5rem;
}

a {
    color: bisque;
    text-decoration: underline;
}


/* Making SVG rotate endlessly */

@keyframes spinningSVG {
    from {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinning-SVG {
    animation: spinningSVG 5s;
    animation-iteration-count: infinite;
    z-index: 1;
}