/* ROOT Styling to use default values for other elements */

:root {
    font-size: 15px;
    font-family: 'Fredoka One', cursive;
    --bg-main: rgb(30, 34, 31);
}


/* General Styling to Set-up the page */

body {
    color: black;
    background-color: bisque;
}

.section-title {
    display: flex;
    background-color: var(--bg-main);
    color: bisque;
    border-radius: 25px;
}

.section-title svg {
    width: 3rem;
    max-width: 4rem;
    height: 3rem;
}

.section-title h2 {
    margin-left: 1rem;
    font-size: 3rem;
}

main {
    margin-left: 5rem;
}


/* Styling Scroll Bar */

body::-webkit-scrollbar {
    width: 0.3rem;
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background-color: aquamarine;
}


/* Main Styling */

.dark-theme {
    background-color: var(--bg-main);
    color: bisque;
}

main div {
    padding: 1rem;
}


/* Making SVG rotate endlessly */

@keyframes spinningSVG {
    from {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinning-SVG {
    animation: spinningSVG 5s;
    animation-iteration-count: infinite;
    z-index: 1;
}


/* About Us Styling */

.about-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5rem;
    background-color: var(--bg-main);
    border-radius: 25px;
    color: bisque;
}

.about-us img {
    border-radius: 30px;
    height: 14rem;
    width: 10rem;
    object-fit: fill;
    padding: 0.5rem;
}

.project {
    padding: 2rem;
    margin: 5rem;
    background-color: var(--bg-main);
    color: bisque;
    border-radius: 25px;
}

.project-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project-name {
    font-size: 30px;
}

.project-imgs img {
    border-radius: 25px;
    height: 10rem;
    width: 10rem;
    object-fit: contain;
}